<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap" rel="stylesheet">

  <title>出品</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/product-listing.css') }}">

</head>

<body>
  <header>
    <div id="nav-logo"></div>
    <div id="nav-button">
      <div class="open-btn"><span></span><span></span><span></span></div>
    </div>
  </header>
  <nav class="nav-disable">
    <div id="nav-wrap">
      <div class="nav-text">
        <!-- ログインしているユーザー名を返す -->
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('user.index') }}">{{ current_user.name }}</a>
        {% else %}
        <a href="{{ url_for('auth.login') }}">ログイン</a>
        {% endif %}
      </div>
      <div class="nav-text">
        <a href="{{ url_for('shop.shop_get') }}">商品を探す</a>
      </div>
      <div class="nav-text">
        <a href="{{ url_for('column.column_top') }}">コラム</a>
      </div>
      <!-- <div class="nav-text">
        <a href="{{ url_for('thread.thread_top') }}">掲示板</a>
      </div> -->
      <!-- <div class="nav-text">
        <a href="{{ url_for('main.top') }}">トップに戻る</a>
      </div> -->
      <div class="nav-text">
        <a href="{{ url_for('main.userGuide') }}">使い方</a>
      </div>
    </div>
  </nav>
  <div id="header-space"></div>

  <main>

    <h2>商品出品フォーム</h2>

    <form action="" method="post" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div>
        {{ form.image.label }}
        <label id="imageUploadLabel" for="image">
          <img id="imagePreview">
          <div class="image-upload-text">ドラック＆ドロップ
            またはファイルを選択</div>
        </label>
        {{ form.image }}
      </div>


      <div>
        {{ form.name.label }}
        {{ form.name }}
      </div>

      <div>
        {{ form.price.label }}
        <div class="price-input">
          {{ form.price(type="number", min="0", placeholder="0") }}
        </div>
      </div>

      <div class="custom-select">
        {{ form.category.label }}
        {{ form.category }}
      </div>

      <!-- <div>
        <label for="itemCondition">商品の状態:</label>
        <select id="itemCondition" name="itemCondition">
          <option value="" disabled selected hidden>選択してください</option>
          <option value="new">新品</option>
          <option value="like_new">ほぼ新品</option>
          <option value="used_good">使用感少なめ</option>
          <option value="used">使用感あり</option>
        </select>
      </div> -->

      <div>
        {{ form.description.label }}
        {{ form.description( rows="4" ) }}
      </div>

      <div class="checkbox-group">
        <div>
          {{ form.is_barter.label }}
          {{ form.is_barter }}
        </div>
      </div>

      <!-- <div>
        <label for="shippingMethod">発送方法:</label>
        <select id="shippingMethod" name="shippingMethod">
          <option value="" disabled selected hidden>選択してください</option>
          <option value="regular">普通郵便</option>
          <option value="express">速達</option>
          <option value="courier">宅急便</option>
        </select>
      </div> -->

      <div>
        {{ form.shipping_days.label }}
        {{ form.shipping_days }}
      </div>

      <div>
        {% for error in form.image.errors %}
        <span style="color: rgb(217, 57, 57);">{{ error }}</span>
        {% endfor %}
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <span style="color: rgb(217, 57, 57);">{{ message }}</span>
        {% endfor %}
        {% endwith %}
      </div>

      <div>
        {{ form.submit() }}
      </div>
    </form>


  </main>
  <footer></footer>

  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/listing.js') }}"></script>
</body>

</html>